Other/Altova/xml/ADTA01.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<!ELEMENT XTN.12 (#PCDATA)>
<!ELEMENT XTN.1 EMPTY>
<!ELEMENT XPN.7 (#PCDATA)>
<!ELEMENT XPN.2 (#PCDATA)>
<!ELEMENT XPN.1 (#PCDATA)>
<!ELEMENT XCN.2 EMPTY>
<!ELEMENT XCN.1 EMPTY>
<!ELEMENT XAD.9 (#PCDATA)>
<!ELEMENT XAD.7 (#PCDATA)>
<!ELEMENT XAD.6 (#PCDATA)>
<!ELEMENT XAD.5 (#PCDATA)>
<!ELEMENT XAD.3 (#PCDATA)>
<!ELEMENT XAD.11 (#PCDATA)>
<!ELEMENT XAD.1 ((SAD.1, SAD.2, SAD.3))>
<!ELEMENT VID.1 (#PCDATA)>
<!ELEMENT TS.1 ((DTTM.1, DTTM.2, DTTM.3, DTTM.4, DTTM.5, DTTM.6)?)>
<!ELEMENT SAD.3 (#PCDATA)>
<!ELEMENT SAD.2 (#PCDATA)>
<!ELEMENT SAD.1 (#PCDATA)>
<!ELEMENT PV2.3 ((CE.1))>
<!ELEMENT PV2 ((PV2.3))>
<!ELEMENT PV1.7 ((XCN.1))>
<!ELEMENT PV1.6 ((PL.1, PL.4))>
<!ELEMENT PV1.50 ((CX.1, CX.4, CX.5))>
<!ELEMENT PV1.45 ((TS.1))>
<!ELEMENT PV1.44 ((TS.1))>
<!ELEMENT PV1.4 (#PCDATA)>
<!ELEMENT PV1.36 (#PCDATA)>
<!ELEMENT PV1.3 ((PL.1, PL.4))>
<!ELEMENT PV1.20 ((FC.1, FC.2))>
<!ELEMENT PV1.2 (#PCDATA)>
<!ELEMENT PV1.19 ((CX.1, CX.4, CX.5))>
<!ELEMENT PV1.14 (#PCDATA)>
<!ELEMENT PV1 ((PV1.2, PV1.3, PV1.4, PV1.6, PV1.14, PV1.19, PV1.20, PV1.36, PV1.44, PV1.45, PV1.50, PV1.7))>
<!ELEMENT PT.1 (#PCDATA)>
<!ELEMENT PL.4 ((HD.1, HD.2, HD.3))>
<!ELEMENT PL.1 (#PCDATA)>
<!ELEMENT PID.8 (#PCDATA)>
<!ELEMENT PID.7 ((TS.1))>
<!ELEMENT PID.5 ((XPN.1, XPN.2, XPN.7))>
<!ELEMENT PID.36 EMPTY>
<!ELEMENT PID.35 EMPTY>
<!ELEMENT PID.3 ((CX.1?, CX.4, CX.5, CX.6, CX.8?))>
<!ELEMENT PID.29 ((TS.1))>
<!ELEMENT PID.26 ((CE.1, CE.2))>
<!ELEMENT PID.18 ((CX.1))>
<!ELEMENT PID.16 ((CE.1))>
<!ELEMENT PID.14 ((XTN.1))>
<!ELEMENT PID.13 ((XTN.1, XTN.12))>
<!ELEMENT PID.11 ((XAD.1, XAD.3, XAD.5, XAD.6, XAD.7, XAD.9, XAD.11))>
<!ELEMENT PID ((PID.3+, PID.5, PID.7, PID.8, PID.11, PID.13, PID.14, PID.16, PID.18, PID.26, PID.35, PID.36, PID.29, PID.14))>
<!ELEMENT MSH.9 ((MSG.1, MSG.2, MSG.3))>
<!ELEMENT MSH.7 ((TS.1))>
<!ELEMENT MSH.6 ((HD.1))>
<!ELEMENT MSH.5 ((HD.1))>
<!ELEMENT MSH.4 ((HD.1))>
<!ELEMENT MSH.3 ((HD.1))>
<!ELEMENT MSH.2 (#PCDATA)>
<!ELEMENT MSH.12 ((VID.1))>
<!ELEMENT MSH.11 ((PT.1))>
<!ELEMENT MSH.10 (#PCDATA)>
<!ELEMENT MSH.1 (#PCDATA)>
<!ELEMENT MSH ((MSH.1, MSH.2, MSH.3, MSH.4, MSH.5, MSH.6, MSH.7, MSH.9, MSH.10, MSH.11, MSH.12))>
<!ELEMENT MSG.3 (#PCDATA)>
<!ELEMENT MSG.2 (#PCDATA)>
<!ELEMENT MSG.1 (#PCDATA)>
<!ELEMENT HD.3 (#PCDATA)>
<!ELEMENT HD.2 (#PCDATA)>
<!ELEMENT HD.1 (#PCDATA)>
<!ELEMENT FC.2 ((TS.1))>
<!ELEMENT FC.1 (#PCDATA)>
<!ELEMENT EVN.5 ((XCN.2))>
<!ELEMENT EVN.2 ((TS.1))>
<!ELEMENT EVN ((EVN.2, EVN.5))>
<!ELEMENT DTTM.6 (#PCDATA)>
<!ELEMENT DTTM.5 (#PCDATA)>
<!ELEMENT DTTM.4 (#PCDATA)>
<!ELEMENT DTTM.3 (#PCDATA)>
<!ELEMENT DTTM.2 (#PCDATA)>
<!ELEMENT DTTM.1 (#PCDATA)>
<!ELEMENT CX.8 ((TS.1))>
<!ELEMENT CX.6 EMPTY>
<!ELEMENT CX.5 (#PCDATA)>
<!ELEMENT CX.4 ((HD.1, HD.2, HD.3)?)>
<!ELEMENT CX.1 (#PCDATA)>
<!ELEMENT CE.2 (#PCDATA)>
<!ELEMENT CE.1 (#PCDATA)>
<!ELEMENT ADT_A01 ((MSH, EVN, PID, PV1, PV2))>
